<div class="grid-container">
    <div class="chart-box">
        <div id="sampleDemo" class="demo-padding demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                  
          <div id="chart-container">
            <oj-chart
              id="barChart"
              type="bar"
              orientation="[[orientationValue1]]"
              stack="[[stackValue1]]"
              data="[[dataProvider1]]"
              animation-on-display="auto"
              animation-on-data-change="auto"
              hover-behavior="dim">
              <template slot="itemTemplate" data-oj-as="item">
                <oj-chart-item
                  value="[[item.data.value]]"
                  group-id="[[ [item.data.group] ]]"
                  series-id="[[item.data.series]]"></oj-chart-item>
              </template>
            </oj-chart>
            <oj-toolbar id="myToolbar" aria-label="Chart Display Options Toolbar" aria-controls="barChart">
              <!-- vertical/horizontal toggle button -->
              <demo-chart-orientation-control
                id="orientationControl"
                type="bar"
                focus-management="none"
                orientation="{{orientationValue1}}"></demo-chart-orientation-control>
              <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
              <!-- unstacked/stacked toggle button -->
              <demo-chart-stack-control
                id="stackControl"
                type="bar"
                focus-management="none"
                stack="{{stackValue1}}"></demo-chart-stack-control>
            </oj-toolbar>
          </div>
          
          
          
        </div>
      </div>
    </div>
    <div class="chart-box">
        <div id="sampleDemo" class="demo-padding demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                  
          <div id="chart-container">
            <oj-chart
              id="barChart"
              type="bar"
              orientation="[[orientationValue2]]"
              stack="[[stackValue2]]"
              data="[[dataProvider2]]"
              animation-on-display="auto"
              animation-on-data-change="auto"
              hover-behavior="dim">
              <template slot="itemTemplate" data-oj-as="item">
                <oj-chart-item
                  value="[[item.data.value]]"
                  group-id="[[ [item.data.group] ]]"
                  series-id="[[item.data.series]]"></oj-chart-item>
              </template>
            </oj-chart>
            <oj-toolbar id="myToolbar" aria-label="Chart Display Options Toolbar" aria-controls="barChart">
              <!-- vertical/horizontal toggle button -->
              <demo-chart-orientation-control
                id="orientationControl"
                type="bar"
                focus-management="none"
                orientation="{{orientationValue2}}"></demo-chart-orientation-control>
              <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
              <!-- unstacked/stacked toggle button -->
              <demo-chart-stack-control
                id="stackControl"
                type="bar"
                focus-management="none"
                stack="{{stackValue2}}"></demo-chart-stack-control>
            </oj-toolbar>
          </div>
          </div>
          
          
        </div>
    </div>
</div>